
.CalendarView.popup
{
  margin-left: -40px;
  margin-top: -100px;
}

.CalendarView
{
  -webkit-user-select: none;
  -moz-user-select: none;
}

.CalendarView table
{
  background-color: #eee;
  border: 1px solid #aaa;
  border-collapse: collapse;
}

.CalendarView thead
{
  background-color: white;
}

.CalendarView td,
.CalendarView th
{
  padding: 8px;
  text-align: center;
}

.CalendarView td.title
{
  text-align: center;
  font-weight: bold;
}

.CalendarView th
{
  background: #ddd;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-weight: bold;
  color: #555;
}

.CalendarView td
{
  color: #555;
  text-align: center;
  cursor: pointer;
}

.CalendarView tbody td:hover,
.CalendarView tr.navigation th:hover
{
  background-color: #34ABFA;
  cursor: pointer;
}

.CalendarView tbody td:active,
.CalendarView tr.navigation th:active
{
  background-color: #cde;
}

.CalendarView td.selected
{
  font-weight: bold;
  background-color: #fff;
  color: #000;
}

.CalendarView td.today
{
  font-weight: bold;
  color: #D50000;
}

.CalendarView td.otherDay
{
  color: #bbb;
}
